:root {
    --primary-font:'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #434455;
    --secondary-black-color: #2E2F42;
    --primary-accent-color: #4D5AE5;
    --secondary-white-color: #F4F4FD;
    --secondary-accent-color: #404BBF;
    --primary-bg-color: #FCFCFC;
    --cornflower: #E7E9FC;
    --mint: #31D0AA; 
    --grey: #8E8F99;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* Base styles for mobile phones */

.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    outline: 2px solid red;
    outline-offset: -2px;
}

/* Base styles for Tabs */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Base styles for PC */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

/* Base styles for mobile phones */

.section {
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
}

/* Base styles for Tabs */

@media screen and (min-width: 768px) {
    
    .section {
        padding-bottom: 96px;
    }
}

/* Base styles for PC */

@media screen and (min-width: 1158px) {

    .section {
        padding-bottom: 120px;
    }
}

button {
    font-family: inherit;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header styles */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}


@media screen and (min-width: 768px) and (max-width: 1157px) {

    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.header-container {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin-bottom: -3px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {

    .header-container {
        margin-bottom: -7px;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 120px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 767px) {

    .nav-list {
        display: none;
    }
}

.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);

    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--secondary-accent-color);

}

.nav-link.active {
    color: var(--secondary-accent-color);
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-accent-color);
}

@media screen and (max-width: 767px) {

    .contacts-list {
        display: none;
    }
}

.contacts-list:not(:last-child) {
    margin-bottom: 12px;
}


@media screen and (min-width: 1158px) {

    .contacts-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width: 768px) and (max-width: 1157px) {

    .contacts-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.48px;
    }
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--secondary-accent-color);
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style-type: none;
    font-style: normal;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-accent-color);
}

@media screen and (min-width: 1158px) {

    .logo {
        margin-right: 76px;
    }
}

.logo-color {
    color: var(--secondary-black-color);
}

/* Studio main content styles */

.hero {
    max-width: 428px;
    max-height: 432px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--secondary-black-color);
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg/bg-img.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size: cover;
    margin: auto;
    
}

/* Base styles for Tabs */

@media screen and (min-width: 768px) {

    .hero {
        max-width: 768px;
        max-height: 436px;
    }
}

/* Base styles for PC */

@media screen and (min-width: 1158px) {

    .hero {
        max-width: 1440px;
        max-height: 600px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

.hero-container {
    justify-content: center;
}


.hero-title {
    max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-white-color);
    text-transform: capitalize;

    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 72px;
}

/* Base styles for Tabs */

@media screen and (min-width: 768px) {

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;

        margin-bottom: 48px;
    }
}

/* Base styles for PC */

@media screen and (min-width: 1158px) {

    .hero-title {
        margin-bottom: 136px;
    }
}

.hero-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 0;
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);

    padding: 16px 32px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--secondary-accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Features styles */

.features {
    padding-top: 96px;
}

/* Base styles for PC */

@media only screen and (min-width: 1158px) {

    .features {
        padding-top: 120px;
        }
}

@media only screen and (max-width: 767px) {

    .features-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 768px) {

    .features-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;

    }

    .features-item {
        width: calc((100% - 1 * 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {

    .features-item {
        width: calc((100% - 3 * 24px) / 4);
    }
}

.container-features-icons {
    display: none;
}

@media only screen and (min-width: 1158px) {
    .container-features-icons {
        min-width: 264px;
        min-height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-white-color);
        border-radius: 4px;
        margin-bottom: 8px;
    }
}

.features-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .features-title {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);    
}

@media only screen and (min-width: 1158px) {
    .features-text {
        font-weight: 400;
    }
}

/* Doing styles */

@media only screen and (max-width: 1157px) {
    .doing {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
    .projects-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
            color: var(--secondary-black-color);
            margin-bottom: 72px;
        }
    
        .projects-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 24px;
        }
    
        .projects-item {
            width: calc((100% - 2 * 24) / 3);
        }
}


/* Team styles */

.team {
    padding-top: 96px;
    margin: 0 auto;
    background-color: var(--secondary-white-color);
}

@media only screen and (min-width: 1158px) {
    .team {
        padding-top: 120px;
           
    }
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-black-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 72px;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
        justify-content: center;
        width: calc((100% - 24) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .team-list {
        width: calc((100% - 3 * 24) / 4);
    }
}

.team-cards {
    width: 264px;
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



.team-cards-bottom {
    padding: 32px 0px;
}


.team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--secondary-black-color);
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}

.team-networks-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-networks-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--primary-accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-link:hover,
.team-networks-link:focus {
    background-color: var(--secondary-accent-color);
}

.team-networks-icons {
    fill: var(--secondary-white-color);
}


/* Customers styles */

.customers {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .customers {
        padding-top: 120px 0;

    }
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-black-color);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}

@media only screen and (min-width: 768px) {
    .customers-list {
        gap: 72px 24px;
    }
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.customers-link {
    width: 168px;
    height: 88px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid var(--grey);
    color: var(--grey);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color:var(--secondary-accent-color);
    color: var(--secondary-accent-color);
}

.customers-link:hover .customers-icon{
    fill: var(--secondary-accent-color);
}

/* Portfolio styles */

.filters {
    padding-top: 48;
}

@media only screen and (min-width: 768px) {
    .filters {
            padding-top: 64px;
        }
}

@media only screen and (min-width: 1158px) {
    .filters {
            padding-top: 96px;
        }
}


.filters-button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 8px 24px;

    padding-left: 16px;
    margin-top: 48px;
    margin-bottom: 48px;
    
}

.new-string {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .filters-button-list {
        justify-content: center;
        margin-bottom: 64px;
        margin-right: 0;
    }

    .new-string {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
    .filters-button-list {
        margin-bottom: 72px;
    }
}



.filters-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-accent-color);
    border-radius: 4px;
    background-color: var(--secondary-white-color);
    border: 1px solid #E7E9FC;

    padding: 8px 16px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover,
.filters-button:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

@media only screen and (min-width: 768px) {
    .filters-button {
        padding: 12px 24px;
    }
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 48px 24px;
}

@media only screen and (min-width: 768px) {
    .examples-item {
        width: calc((100% - 24px) / 2);
        gap: 72px 24px;
    }
}


@media only screen and (min-width: 1158px) {
    .examples-item {
        width: calc((100% - 2 * 24px) / 3);
    }
}

.examples-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover,
.examples-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.examples-content {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
    background: var(--primary-white-color);
}

.examples-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);
    margin-bottom: 8px;
}

.examples-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
}

/* Overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--secondary-white-color);
    background-color: var(--primary-accent-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .overlay,
.examples-link:focus .overlay {
    transform: translateY(0);
}


.examples-box {
    position: relative;
    overflow: hidden;
}

/* Footer styles */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    color: var(--secondary-accent-color);
    background-color: var(--secondary-black-color);
}


@media only screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.footer-container {
    display: block;
    text-align: center;
}

.footer-container:not(:last-child) {
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        gap: 0 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .footer-container {
        padding-left: 108px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-container {
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0;
    }
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-logo-container {
        text-align: left;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-logo-container {
        align-items: baseline;
        margin-left: 0;
        margin-right: 120px;
        margin-bottom: 0;
    }
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: var(--secondary-white-color);
}

.footer-text {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 264px;
    color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-networks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-networks-container {
        text-align: left;
        margin-bottom: 0;
    }
}

.footer-networks-text {
    color: var(--primary-white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 16px;
}

.footer-networks-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-networks-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--primary-accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks-icons {
    fill: var(--secondary-white-color); 
}

.footer-networks-link:hover,
.footer-networks-link:focus {
    background-color: var(--mint);
}

.footer-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media only screen and (min-width: 768px ) {
    .footer-form-container {
        text-align: left;
    }
}

@media only screen and (min-width:1158px) {
    .footer-form-container {
        margin-left: 80px;
    }
}

.email-form-text {
    display: block;
    margin-bottom: 16px;

    color: var(--primary-white-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .subscribe-form {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .subscribe-form {
        align-items: end;
    }
}

.subscribe-form-label {
    width: 100%;
}

.email-form-input {
    width: 100%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;

    border-radius: 4px;
    border: 1px solid var(--primary-white-color);
    opacity: 0.3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: 0;

    background-color: transparent;
    color: var(--primary-white-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media only screen and (min-width: 768px) {
    .email-form-input {
        width: 264px;
    }
}

.email-form-input:hover,
.email-form-input:focus {
    border-color: var(--primary-accent-color);
}

.email-form-input::placeholder {
    color: var(--primary-white-color);
}

.email-button {
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 4px;
    background: var(--primary-accent-color);

    font-family: "Roboto", sans-serif;
    color: var(--primary-white-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-button:hover,
.email-button:focus {
    background-color: var(--secondary-accent-color);
}

.email-button-icon {
    margin-left: 16px;
    fill: var(--primary-white-color);
}

/* Modal styles */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 392px;
    min-height: 584px;
    padding: 72px 16px 24px 16px;

    border-radius: 4px;
    background: var(--primary-bg-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: var(--cornflower);

    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: var(--secondary-black-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--secondary-accent-color);
    border: none;
    fill: var(--primary-white-color);
}

.modal-button:hover .modal-icon {
    fill: var(--primary-white-color);
}

.modal-button:focus .modal-icon {
    fill: var(--primary-white-color);
}

.modal-caption {
    margin-bottom: 16px;

    color: var(--secondary-black-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-form-container {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    
    color: var(--grey);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-label-text {
    display: block;
    margin-bottom: 4px;

    color: var(--grey);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-input-container {
    position: relative;
}

.modal-input {

    width: 100%;
    height: 40px;
    padding-left: 38px;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--primary-accent-color);
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    
    fill: var(--secondary-black-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input:focus + .modal-input-icon {
    fill: var(--primary-accent-color);
}

.comm-container {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: -4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
    color: currentColor;
}

.modal-comment:focus {
    border-color: var(--primary-accent-color);
}

.modal-checkbox-container {
    display: flex;
    margin-bottom: 24px;
}

.modal-agreement {
    align-items: center;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--grey);
}

.modal-tick-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.form-checkbox:focus + .modal-agreement .modal-tick-checkbox {
    border-color: var(--secondary-accent-color);
}

.form-checkbox:checked + .modal-agreement .modal-tick-checkbox{
    border: none;
    background-color: var(--secondary-accent-color);
    fill: var(--secondary-white-color);
}

.modal-agreement-link {
    color: var(--primary-accent-color);
    text-decoration: underline;
}

.form-checkbox {
    position: absolute;
}

.modal-button-submit {
    min-width: 169px;
    height: 56px;
    
    display: block;
    padding: 16px 32px;
    align-items: center;
    margin-left: 95px;
    
    color: var(--primary-white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    
    border: 0;
    border-radius: 4px;
    background: var(--primary-accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
    background-color: var(--secondary-accent-color);
}

/* Moile menu */

.menu-toggle-icon {
    stroke: var(--secondary-black-color);
}

.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--cornflower);
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 80px 40px 40px 40px;
    background-color: var(--primary-bg-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: fit-content;
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-black-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--secondary-accent-color);

}

.mobile-menu-link.active {
    color: var(--secondary-accent-color);
}

.mobile-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-contacts-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--primary-black-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), letter-spacing 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: var(--secondary-accent-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
}

.mobile-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;

    margin-top: 48px;
}

.mobile-networks-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--primary-accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-networks-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-networks-item:hover,
.mobile-networks-item:focus {
    background-color: var(--secondary-accent-color);
}

.mobile-networks-icon {
    fill: var(--secondary-white-color);
}